* {
	/*outline: 1px dotted red;*/
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-ms-box-sizing: border-box;
	-o-box-sizing: border-box;
	box-sizing: border-box;
	overflow: hidden;				
}

body {
	font-family: 'Open Sans Condensed', sans-serif;
	color: darkslategray;
}

span {
	display: inline-block;
}

a, a:visited {
	color: inherit;
	cursor: pointer;
	text-decoration: none;
	display: inline-block;
	vertical-align: middle;
}

a:hover {
	font-weight: bold;
}



/*========================
Blackout
========================*/

#blackout {
	position: absolute;
	width: 100%;
	height: 100%;
	background: darkslategray;
}

/*========================
Header
========================*/

header {
	padding: 3% 5%;
	border-bottom: 1px solid darkslategray;
	position: fixed;
	width: 100%;
	display: none;
	background: white;
}

header span {
	display: inline-block;
	font-size: 2em;
	font-weight: 300;
	margin-top: 0.4em;
}

header nav {
	display: inline-block;
	float: right;
	vertical-align: top;
	margin-top: 7px;
}

header nav a {
	margin-right: 3em;
	font-size: 1.4em;
	/*padding: 0px 5.7px;*/
	/*padding: 0% 1.1%;*/
	padding: 0em 0.25em;
}

header nav a:hover {
	/*padding: 0px;*/
	/*padding: 0%;*/
	padding: 0em;
}

header nav a:last-child {
	text-decoration: none;
	padding: 10px 25px;
	border: 2px solid darkslategray;
	border-radius: 13px;
	color: inherit;
	font-weight: bold;
	margin: 2px;
	display: inline-block;
	font-size: 1.4em;
}

header nav a:last-child:hover {
	border: 4px solid darkslategray;
	margin: 0px;
	cursor: pointer;
	background: darkslategray;
	color: white;
}

/*========================
Intro
========================*/

.intro {
	padding-top: 9%;
}

.intro span {
	text-align: center;
	font-size: 4em;
	position: absolute;
	width: 100%;
	top: 38%;
	display: none;
}

.blowUp {
	-webkit-transition-duration: 2s;
	-moz-transition-duration: 2s;
	-ms-transition-duration: 2s;
	-o-transition-duration: 2s;
	transition-duration: 2s;
	-webkit-transform: scale(10000);
	-moz-transform: scale(10000);
	-ms-transform: scale(10000);
	-o-transform: scale(10000);
	transform: scale(10000);
	-webkit-transition-timing-function: linear;
	-moz-transition-timing-function: linear;
	-ms-transition-timing-function: linear;
	-o-transition-timing-function: linear;
	transition-timing-function: linear;
}

section {
	display: none;
	padding: 3% 12%;
	font-size: 2em;
}

section:nth-child(2) {
	margin-top: 8%;
}

section aside {
	font-size: 1.5em;
}

aside span {
	display: block;
	font-weight: bold;
	margin: 0.6em 0em;
	font-size: 1.2em;
}

blockquote span {
	float: right;
	font-size: 0.7em;
	margin-right: 8.5em;
}

